*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--fontSecondary), sans-serif;
  color: var(--colorText);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
span,
b,
u {
  margin: 5px 0;
  font-family: inherit;
  color: inherit;
}

a {
  color: inherit;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: var(--fontPrimary);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: var(--colorNeutral);
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  background-color: unset;
}

input[type='checkbox'] {
  cursor: pointer;
  appearance: none;
  background: none;
  margin: 0;
  border: none;
  flex-shrink: 0;
}

input[type='date'] {
  background-color: transparent;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--colorBorder);
  margin: 25px 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}
