@use 'defaults.scss';
@use 'variables.scss';
@use 'mixins.scss' as *;

.g-title {
  font-size: 40px;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;

  span {
    display: block;
    font-size: 25px;
    color: var(--colorPrimary);
  }
}

.g-wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.g-box {
  padding: 10px;
  background-color: var(--colorSecondary);
  border-radius: var(--radius);
  box-shadow:
    rgba(56, 0, 42, 0.4) 0px 2px 4px,
    rgba(56, 0, 42, 0.3) 0px 7px 13px -3px,
    rgba(56, 0, 42, 0.2) 0px -3px 0px inset;
}

input {
  transition: 0.3s ease;
  border: 1px solid var(--colorBorder);
  padding: 10px;
  height: 50px;
  border-radius: var(--radius);
  background-color: var(--colorNeutral);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 3px 0px inset;

  &:focus {
    box-shadow: var(--colorOp03) 0px 0px 3px 0px inset;
  }
}

span {
  color: var(--colorText2);
}
